.find {
    .logo-search {
      display: flex;
      justify-content: space-between;
    }
  
    .search-box {
      display: flex;
      align-items: center;
    }
  
    .auth-buttons button {
      margin-left: 10px;
    }
  }
  